# 1 Load Datasets

In [1228]:
import pandas as pd
import numpy as np

# ANSI escape code for red color
red_color = "\033[91m"

# ANSI escape code to reset color
reset_color = "\033[0m"


url1 = "/Users/toan/Arbeit/Ironhack/Miniproject/week3/ownproject/data/test.csv"
url2 = "/Users/toan/Arbeit/Ironhack/Miniproject/week3/ownproject/data/train.csv"
#url3 = "/Users/toan/Arbeit/Ironhack/Miniproject/week3/ownproject/data/val.csv"

df1 = pd.read_csv(url1)
df2 = pd.read_csv(url2)
#df3 = pd.read_csv(url3)

print()
print(red_color + "First Dataset of Social Media Usage: " + reset_color)
display(df1)
print()
print(red_color + "Second Dataset of Social Media Usage: " + reset_color)
display(df2)
#display(df3)

First Dataset of Social Media Usage:

,User_ID,Age,Gender,Platform,Daily_Usage_Time (minutes),Posts_Per_Day,Likes_Received_Per_Day,Comments_Received_Per_Day,Messages_Sent_Per_Day,Dominant_Emotion
0,500,27,Female,Snapchat,120,4,40,18,22,Neutral
1,488,21,Non-binary,Snapchat,60,1,18,7,12,Neutral
2,776,28,Non-binary,Snapchat,115,3,38,18,27,Anxiety
3,869,27,Male,Telegram,105,3,48,20,28,Anxiety
4,573,21,Non-binary,Facebook,55,3,17,7,12,Neutral
...,...,...,...,...,...,...,...,...,...,...
98,184,22,Male,Twitter,70,1,20,5,22,Neutral
99,896,33,Male,LinkedIn,85,4,35,18,18,Boredom
100,708,24,Non-binary,Facebook,110,6,35,23,25,Sadness
101,993,24,Male,Telegram,75,3,37,16,22,Neutral
102,60,27,Male,Facebook,60,1,10,4,15,Boredom

Second Dataset of Social Media Usage:

,User_ID,Age,Gender,Platform,Daily_Usage_Time (minutes),Posts_Per_Day,Likes_Received_Per_Day,Comments_Received_Per_Day,Messages_Sent_Per_Day,Dominant_Emotion
0,1,25,Female,Instagram,120.0,3.0,45.0,10.0,12.0,Happiness
1,2,30,Male,Twitter,90.0,5.0,20.0,25.0,30.0,Anger
2,3,22,Non-binary,Facebook,60.0,2.0,15.0,5.0,20.0,Neutral
3,4,28,Female,Instagram,200.0,8.0,100.0,30.0,50.0,Anxiety
4,5,33,Male,LinkedIn,45.0,1.0,5.0,2.0,10.0,Boredom
...,...,...,...,...,...,...,...,...,...,...
996,996,33,Non-binary,Twitter,85.0,4.0,35.0,18.0,18.0,Boredom
997,997,22,Female,Facebook,70.0,1.0,14.0,6.0,10.0,Neutral
998,998,35,Male,Whatsapp,110.0,3.0,50.0,25.0,25.0,Happiness
999,999,28,Non-binary,Telegram,60.0,2.0,18.0,8.0,18.0,Anger
1000,1000,27,Female,Snapchat,120.0,4.0,40.0,18.0,22.0,Neutral

# 2 Basic Informations

## 2.1 Shape of datasets

In [1231]:
print()
print(red_color + "Shape of first dataset: " + reset_color)
display(df1.shape)
print()
print(red_color + "Shape of first dataset: " + reset_color)
display(df2.shape)

Shape of first dataset:

(103, 10)

Shape of first dataset:

(1001, 10)

## 2.2 Info about datasets

In [1233]:
print()
print(red_color + "Infos for first dataset: " + reset_color)
display(df1.info())
print()
print(red_color + "Infos for first dataset: " + reset_color)
display(df2.info())

Infos for first dataset:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103 entries, 0 to 102
Data columns (total 10 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   User_ID                     103 non-null    int64
 1   Age                         103 non-null    object
 2   Gender                      103 non-null    object
 3   Platform                    103 non-null    object
 4   Daily_Usage_Time (minutes)  103 non-null    int64
 5   Posts_Per_Day               103 non-null    int64
 6   Likes_Received_Per_Day      103 non-null    int64
 7   Comments_Received_Per_Day   103 non-null    int64
 8   Messages_Sent_Per_Day       103 non-null    int64
 9   Dominant_Emotion            103 non-null    object
dtypes: int64(6), object(4)
memory usage: 8.2+ KB

None

Infos for first dataset:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1001 entries, 0 to 1000
Data columns (total 10 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   User_ID                     1001 non-null   object
 1   Age                         1001 non-null   object
 2   Gender                      1000 non-null   object
 3   Platform                    1000 non-null   object
 4   Daily_Usage_Time (minutes)  1000 non-null   float64
 5   Posts_Per_Day               1000 non-null   float64
 6   Likes_Received_Per_Day      1000 non-null   float64
 7   Comments_Received_Per_Day   1000 non-null   float64
 8   Messages_Sent_Per_Day       1000 non-null   float64
 9   Dominant_Emotion            1000 non-null   object
dtypes: float64(5), object(5)
memory usage: 78.3+ KB

None

## 2.3 Descriptive Statistics

In [1235]:
print()
print(red_color + "Descriptive statistics for first dataset: " + reset_color)
display(df1.describe())
print()
print(red_color + "Descriptive statistics for second dataset: " + reset_color)
display(df2.describe())

Descriptive statistics for first dataset:

,User_ID,Daily_Usage_Time (minutes),Posts_Per_Day,Likes_Received_Per_Day,Comments_Received_Per_Day,Messages_Sent_Per_Day
count,103.000000,103.000000,103.000000,103.000000,103.000000,103.000000
mean,521.262136,88.009709,2.864078,33.456311,13.766990,20.388350
std,288.949991,33.979087,1.732326,23.031426,8.107372,7.372755
min,16.000000,40.000000,1.000000,5.000000,2.000000,10.000000
25%,275.000000,60.000000,1.000000,15.000000,7.000000,15.000000
50%,526.000000,75.000000,2.000000,27.000000,12.000000,20.000000
75%,776.000000,105.000000,4.000000,40.000000,19.500000,25.000000
max,997.000000,200.000000,8.000000,110.000000,40.000000,45.000000

Descriptive statistics for second dataset:

,Daily_Usage_Time (minutes),Posts_Per_Day,Likes_Received_Per_Day,Comments_Received_Per_Day,Messages_Sent_Per_Day
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000
mean,95.950000,3.321000,39.898000,15.611000,22.560000
std,38.850442,1.914582,26.393867,8.819493,8.516274
min,40.000000,1.000000,5.000000,2.000000,8.000000
25%,65.000000,2.000000,20.000000,8.000000,17.750000
50%,85.000000,3.000000,33.000000,14.000000,22.000000
75%,120.000000,4.000000,55.000000,22.000000,28.000000
max,200.000000,8.000000,110.000000,40.000000,50.000000

## 2.4 Data types

In [1237]:
print()
print(red_color + "Data types for first dataset: " + reset_color)
print(df1.dtypes)
print(red_color + "Data types for second dataset: " + reset_color)
print(df2.dtypes)

Data types for first dataset:
User_ID                        int64
Age                           object
Gender                        object
Platform                      object
Daily_Usage_Time (minutes)     int64
Posts_Per_Day                  int64
Likes_Received_Per_Day         int64
Comments_Received_Per_Day      int64
Messages_Sent_Per_Day          int64
Dominant_Emotion              object
dtype: object
Data types for second dataset:
User_ID                        object
Age                            object
Gender                         object
Platform                       object
Daily_Usage_Time (minutes)    float64
Posts_Per_Day                 float64
Likes_Received_Per_Day        float64
Comments_Received_Per_Day     float64
Messages_Sent_Per_Day         float64
Dominant_Emotion               object
dtype: object

## 2.5 Missing Values

In [1239]:
print()
print(red_color + "Missing values for first dataset: " + reset_color)
print(df1.isnull().sum())
print(red_color + "Missing values for second dataset: " + reset_color)
print(df2.isnull().sum())

Missing values for first dataset:
User_ID                       0
Age                           0
Gender                        0
Platform                      0
Daily_Usage_Time (minutes)    0
Posts_Per_Day                 0
Likes_Received_Per_Day        0
Comments_Received_Per_Day     0
Messages_Sent_Per_Day         0
Dominant_Emotion              0
dtype: int64
Missing values for second dataset:
User_ID                       0
Age                           0
Gender                        1
Platform                      1
Daily_Usage_Time (minutes)    1
Posts_Per_Day                 1
Likes_Received_Per_Day        1
Comments_Received_Per_Day     1
Messages_Sent_Per_Day         1
Dominant_Emotion              1
dtype: int64

## 2.6 Unique Values

In [1241]:
print()
print(red_color + "Unique values for first dataset: " + reset_color)
unique_values_df1 = {column: df1[column].unique() for column in df1.columns}
for column, unique in unique_values_df1.items():
    print(f"Unique values in column '{column}': {unique}")
    
print()
print(red_color + "Unique values for second dataset: " + reset_color)
unique_values_df2 = {column: df2[column].unique() for column in df2.columns}
for column, unique in unique_values_df2.items():
    print(f"Unique values in column '{column}': {unique}")

Unique values for first dataset:
Unique values in column 'User_ID': [500 488 776 869 573 428 528 773 382 505  20 444 720 328 372 555 181 413
 132 743 526 962 497 275 836  35 760 700  58 481 847 850 487 820 932 599
 627 212 872 155 830 174 119 490 594 651 713 801 319 783 376 562 693  76
 169 900 986 807 815 227  60 866 944 711 211  33 348 846 672 223 926  81
 997 561  48 849 621 261  16 170 653 422 378 304 149 290 759 205 719 666
 476 278 821 418 184 896 708 993]
Unique values in column 'Age': ['27' '21' '28' '25' '24' '33' '32' '23' '35' '31' '34' '29' '22' '26'
 '30' 'Male']
Unique values in column 'Gender': ['Female' 'Non-binary' 'Male' '27' 'Marie']
Unique values in column 'Platform': ['Snapchat' 'Telegram' 'Facebook' 'Instagram' 'LinkedIn' 'Twitter'
 'Whatsapp']
Unique values in column 'Daily_Usage_Time (minutes)': [120  60 115 105  55 160  85  45 140  70  50  65 145  95  80  90 165  75
 100 175 130  40 200 110]
Unique values in column 'Posts_Per_Day': [4 1 3 6 5 2 7 8]
Unique values in column 'Likes_Received_Per_Day': [ 40  18  38  48  17  85  33  10  70  25  75  13  15  20  14  50  22  30
  11  12  37  45  80   8  24  23  60  28   9  27 100  72   5  21  35 110]
Unique values in column 'Comments_Received_Per_Day': [18  7 20 26  5 22 12 28  8 10  6 13 14 30  4 25 16 15 11  2 33  9 40 19
 23]
Unique values in column 'Messages_Sent_Per_Day': [22 12 27 28 30 18 33 10 17 15 35 20 25 11 26 29 38 31 21 23 45 24]
Unique values in column 'Dominant_Emotion': ['Neutral' 'Anxiety' 'Happiness' 'Boredom' 'Sadness' 'Anger']

Unique values for second dataset:
Unique values in column 'User_ID': ['1' '2' '3' ... '998' '999' '1000']
Unique values in column 'Age': ['25' '30' '22' '28' '33' '21' '27' '24' '29' '31' '23' '26' '34' '35'
 '32' 'Male' 'Female' 'Non-binary'
 ' iÅŸte mevcut veri kÃ¼mesini 1000 satÄ±ra tamamlÄ±yorum:']
Unique values in column 'Gender': ['Female' 'Male' 'Non-binary' '27' '24' '29' '33' '31' '22' '25' '28' '30'
 '23' '34' '26' '35' '21' '32' nan]
Unique values in column 'Platform': ['Instagram' 'Twitter' 'Facebook' 'LinkedIn' 'Whatsapp' 'Telegram'
 'Snapchat' nan]
Unique values in column 'Daily_Usage_Time (minutes)': [120.  90.  60. 200.  45. 150.  85. 110.  55. 170.  75.  95.  65. 180.
 100.  40. 125.  50. 140. 105. 190.  70.  80. 160. 145. 130. 115. 175.
 165. 155.  nan]
Unique values in column 'Posts_Per_Day': [ 3.  5.  2.  8.  1.  4.  6.  7. nan]
Unique values in column 'Likes_Received_Per_Day': [ 45.  20.  15. 100.   5.  60.  30.  25.  10.  80.  35.  12.  90.  40.
  55.  33.   8.  70.  28.  11.  95.  18.   9.  85.  38.   6.  13.  75.
  27.  88.  22.  78.  29.  50.  36.  72.  65. 110.  14.  17. 105.  43.
  37.  42.  48.  21.  24.  23.  83.  nan]
Unique values in column 'Comments_Received_Per_Day': [10. 25.  5. 30.  2. 15. 12.  3. 20.  7.  4. 23. 18. 22. 14. 26.  8. 19.
 17. 11.  6.  9. 13. 40. 16. 35. 38. 28. 36. 33. nan]
Unique values in column 'Messages_Sent_Per_Day': [12. 30. 20. 50. 10. 25. 18. 22.  8. 35. 15. 40. 28. 33. 17. 45. 21. 11.
 32. 24. 14.  9. 38. 31. 27. 19. 26. 29. 23. nan]
Unique values in column 'Dominant_Emotion': ['Happiness' 'Anger' 'Neutral' 'Anxiety' 'Boredom' 'Sadness' nan]

## 2.8 Value Counts

In [1243]:
print()
print(red_color + "Value counts for first dataset: " + reset_color)
value_count__neu_df1 = {column: df1[column].value_counts() for column in df1.columns}
for column, counts in value_count__neu_df1.items():
    print(f"Value counts in column '{column}':\n{counts}\n")
    
print()
print(red_color + "Value counts for second dataset: " + reset_color)
value_count__neu_df2 = {column: df2[column].value_counts() for column in df2.columns}
for column, counts in value_count__neu_df2.items():
    print(f"Value counts in column '{column}':\n{counts}\n")

Value counts for first dataset:
Value counts in column 'User_ID':
User_ID
776    2
275    2
526    2
60     2
944    2
      ..
487    1
850    1
847    1
481    1
993    1
Name: count, Length: 98, dtype: int64

Value counts in column 'Age':
Age
28      13
27      12
23      11
31      10
29      10
26       8
25       6
24       6
21       5
32       5
22       4
33       3
35       3
34       3
30       3
Male     1
Name: count, dtype: int64

Value counts in column 'Gender':
Gender
Male          46
Non-binary    30
Female        25
27             1
Marie          1
Name: count, dtype: int64

Value counts in column 'Platform':
Platform
Facebook     25
Twitter      19
Instagram    16
LinkedIn     15
Snapchat     13
Telegram     11
Whatsapp      4
Name: count, dtype: int64

Value counts in column 'Daily_Usage_Time (minutes)':
Daily_Usage_Time (minutes)
70     11
75     11
60     10
50      7
105     6
55      6
85      5
80      5
90      5
120     5
115     4
95      4
160     3
45      3
140     3
65      3
175     2
130     2
145     2
100     2
165     1
40      1
200     1
110     1
Name: count, dtype: int64

Value counts in column 'Posts_Per_Day':
Posts_Per_Day
1    27
2    25
3    20
4    13
6     9
5     6
7     2
8     1
Name: count, dtype: int64

Value counts in column 'Likes_Received_Per_Day':
Likes_Received_Per_Day
12     8
30     6
20     6
40     5
15     4
45     4
37     4
22     4
14     4
10     4
85     4
38     4
25     3
13     3
28     3
23     3
50     3
35     3
18     3
75     3
48     3
80     2
17     2
27     2
70     2
21     1
5      1
72     1
100    1
11     1
9      1
60     1
24     1
8      1
33     1
110    1
Name: count, dtype: int64

Value counts in column 'Comments_Received_Per_Day':
Comments_Received_Per_Day
10    10
6     10
18     9
20     8
12     8
5      7
8      6
4      5
7      5
14     5
22     4
30     4
28     3
26     3
16     3
11     3
2      2
13     1
25     1
15     1
33     1
9      1
40     1
19     1
23     1
Name: count, dtype: int64

Value counts in column 'Messages_Sent_Per_Day':
Messages_Sent_Per_Day
18    15
12    13
20    12
25     9
10     9
22     8
30     5
15     5
28     5
27     3
11     3
33     2
17     2
35     2
26     2
31     2
29     1
38     1
21     1
23     1
45     1
24     1
Name: count, dtype: int64

Value counts in column 'Dominant_Emotion':
Dominant_Emotion
Neutral      28
Anxiety      22
Boredom      16
Happiness    14
Sadness      14
Anger         9
Name: count, dtype: int64


Value counts for second dataset:
Value counts in column 'User_ID':
User_ID
1       1
672     1
659     1
660     1
661     1
       ..
340     1
341     1
342     1
343     1
1000    1
Name: count, Length: 1001, dtype: int64

Value counts in column 'Age':
Age
28                                                      92
27                                                      92
29                                                      90
22                                                      74
26                                                      66
25                                                      64
24                                                      64
31                                                      62
21                                                      56
33                                                      56
30                                                      48
23                                                      48
35                                                      38
32                                                      38
34                                                      36
Male                                                    28
Female                                                  26
Non-binary                                              22
 iÅŸte mevcut veri kÃ¼mesini 1000 satÄ±ra tamamlÄ±yorum:     1
Name: count, dtype: int64

Value counts in column 'Gender':
Gender
Female        344
Male          332
Non-binary    248
29             10
27              8
28              8
31              8
22              6
25              6
24              6
33              4
34              4
26              4
21              4
30              2
23              2
35              2
32              2
Name: count, dtype: int64

Value counts in column 'Platform':
Platform
Instagram    250
Twitter      200
Facebook     190
LinkedIn     120
Whatsapp      80
Telegram      80
Snapchat      80
Name: count, dtype: int64

Value counts in column 'Daily_Usage_Time (minutes)':
Daily_Usage_Time (minutes)
75.0     80
60.0     80
70.0     80
90.0     80
85.0     60
55.0     50
65.0     50
120.0    40
105.0    40
50.0     40
95.0     40
170.0    30
100.0    30
150.0    30
45.0     30
80.0     30
145.0    20
175.0    20
110.0    20
115.0    20
140.0    20
130.0    20
165.0    20
40.0     10
160.0    10
190.0    10
125.0    10
180.0    10
200.0    10
155.0    10
Name: count, dtype: int64

Value counts in column 'Posts_Per_Day':
Posts_Per_Day
2.0    230
1.0    190
3.0    171
4.0    161
6.0    109
5.0     71
7.0     39
8.0     29
Name: count, dtype: int64

Value counts in column 'Likes_Received_Per_Day':
Likes_Received_Per_Day
30.0     66
12.0     50
20.0     45
22.0     38
50.0     38
65.0     37
37.0     36
18.0     33
15.0     32
40.0     32
45.0     31
35.0     31
10.0     31
27.0     28
17.0     27
25.0     22
55.0     21
33.0     21
60.0     21
75.0     20
80.0     20
90.0     20
85.0     20
100.0    19
95.0     19
13.0     19
14.0     18
42.0     18
23.0     18
48.0     18
21.0     18
8.0      13
70.0     12
38.0     11
78.0     11
72.0     10
9.0      10
11.0     10
110.0     9
105.0     9
43.0      9
24.0      9
83.0      9
28.0      4
6.0       2
5.0       2
36.0      1
29.0      1
88.0      1
Name: count, dtype: int64

Value counts in column 'Comments_Received_Per_Day':
Comments_Received_Per_Day
18.0    78
10.0    71
20.0    70
7.0     68
8.0     61
12.0    61
25.0    57
14.0    56
5.0     55
30.0    55
4.0     49
6.0     48
22.0    48
16.0    36
11.0    21
23.0    21
26.0    19
28.0    18
13.0    13
19.0    12
17.0    10
9.0     10
40.0     9
35.0     9
38.0     9
36.0     9
33.0     9
15.0     8
2.0      6
3.0      4
Name: count, dtype: int64

Value counts in column 'Messages_Sent_Per_Day':
Messages_Sent_Per_Day
20.0    112
18.0    102
25.0     89
22.0     80
30.0     79
12.0     78
10.0     61
28.0     58
15.0     48
35.0     31
14.0     30
38.0     29
24.0     28
33.0     21
26.0     20
11.0     20
45.0     19
27.0     11
17.0     11
21.0     11
40.0     11
31.0     10
19.0     10
50.0     10
29.0      9
23.0      9
32.0      1
9.0       1
8.0       1
Name: count, dtype: int64

Value counts in column 'Dominant_Emotion':
Dominant_Emotion
Happiness    200
Neutral      200
Anxiety      170
Sadness      160
Boredom      140
Anger        130
Name: count, dtype: int64

## 2.8 Column Names

In [1245]:
print()
print(red_color + "Column Names for first dataset: " + reset_color)
print(df1.columns)
print(red_color + "Column Names for second dataset: " + reset_color)
print(df2.columns)

Column Names for first dataset:
Index(['User_ID', 'Age', 'Gender', 'Platform', 'Daily_Usage_Time (minutes)',
       'Posts_Per_Day', 'Likes_Received_Per_Day', 'Comments_Received_Per_Day',
       'Messages_Sent_Per_Day', 'Dominant_Emotion'],
      dtype='object')
Column Names for second dataset:
Index(['User_ID', 'Age', 'Gender', 'Platform', 'Daily_Usage_Time (minutes)',
       'Posts_Per_Day', 'Likes_Received_Per_Day', 'Comments_Received_Per_Day',
       'Messages_Sent_Per_Day', 'Dominant_Emotion'],
      dtype='object')

# 3 Data Cleaning

## #3.1 Format Column Names

In [1248]:
#Remove spaces and lower letters
df1.columns = df1.columns.str.lower().str.replace(" ", "_")
df2.columns = df2.columns.str.lower().str.replace(" ", "_")

#Rename column names
df1.rename(columns={"user_id": "id"}, inplace=True)
df2.rename(columns={"user_id": "id"}, inplace=True)

print()
display(df1)
display(df2)

,id,age,gender,platform,daily_usage_time_(minutes),posts_per_day,likes_received_per_day,comments_received_per_day,messages_sent_per_day,dominant_emotion
0,500,27,Female,Snapchat,120,4,40,18,22,Neutral
1,488,21,Non-binary,Snapchat,60,1,18,7,12,Neutral
2,776,28,Non-binary,Snapchat,115,3,38,18,27,Anxiety
3,869,27,Male,Telegram,105,3,48,20,28,Anxiety
4,573,21,Non-binary,Facebook,55,3,17,7,12,Neutral
...,...,...,...,...,...,...,...,...,...,...
98,184,22,Male,Twitter,70,1,20,5,22,Neutral
99,896,33,Male,LinkedIn,85,4,35,18,18,Boredom
100,708,24,Non-binary,Facebook,110,6,35,23,25,Sadness
101,993,24,Male,Telegram,75,3,37,16,22,Neutral
102,60,27,Male,Facebook,60,1,10,4,15,Boredom

,id,age,gender,platform,daily_usage_time_(minutes),posts_per_day,likes_received_per_day,comments_received_per_day,messages_sent_per_day,dominant_emotion
0,1,25,Female,Instagram,120.0,3.0,45.0,10.0,12.0,Happiness
1,2,30,Male,Twitter,90.0,5.0,20.0,25.0,30.0,Anger
2,3,22,Non-binary,Facebook,60.0,2.0,15.0,5.0,20.0,Neutral
3,4,28,Female,Instagram,200.0,8.0,100.0,30.0,50.0,Anxiety
4,5,33,Male,LinkedIn,45.0,1.0,5.0,2.0,10.0,Boredom
...,...,...,...,...,...,...,...,...,...,...
996,996,33,Non-binary,Twitter,85.0,4.0,35.0,18.0,18.0,Boredom
997,997,22,Female,Facebook,70.0,1.0,14.0,6.0,10.0,Neutral
998,998,35,Male,Whatsapp,110.0,3.0,50.0,25.0,25.0,Happiness
999,999,28,Non-binary,Telegram,60.0,2.0,18.0,8.0,18.0,Anger
1000,1000,27,Female,Snapchat,120.0,4.0,40.0,18.0,22.0,Neutral

## 3.2 Format Columns

### 3.2.1 Dataset 1: Replace "Male" in column "age"

In [1251]:
#Replace "Male" wir NaN in df1
df1["age"].replace({
    "Male": np.nan,   
     # Replace '.' with NaN
}, inplace=True)
df1["age"].fillna("Unknown", inplace=True)

### 3.2.2 Dataset 1: Replace "Female", "Non-binary", "Male", "27", "Marie" in column "gender" for "F", "M", "N"

In [1253]:
df1["gender"].replace({
    "Female": "F",
    "Non-binary": "D",
    "Male": "M",
    "27": np.nan,
    "Marie": np.nan
}, inplace=True
)

### 3.2.3 Dataset 2: Replace "Male", "Female", "Non-binary" in "age"

In [1255]:
#Replace "Male", "Female", "Non-binary" in "age"
df2["age"].replace({
    "Male": np.nan,
    "Non-binary": np.nan,
    "Female": np.nan,
    " iÅŸte mevcut veri kÃ¼mesini 1000 satÄ±ra tamamlÄ±yorum:": np.nan,
}, inplace=True
)

### 3.2.4 Dataset 2: Replace "Female", "Non-binary", "Male", and all numbers for "F", "N", "M", NaN

In [1257]:
df2["gender"].replace({
    "Female": "F",
    "Non-binary": "D",
    "Male": "M",
    "27": np.nan,
    "24": np.nan,
    "29": np.nan,
    "33": np.nan,
    "31": np.nan,
    "25": np.nan,
    "28": np.nan,
    "23": np.nan,
    "34": np.nan,
    "35": np.nan,
    "21": np.nan,
    "32": np.nan,
    "22": np.nan,
    "30": np.nan,
    "23": np.nan,
    "26": np.nan
}, inplace=True
)

### 3.2.6 Replace non-numeric values with NaN

In [1259]:
"""
columns_to_int = ["id", "age", "daily_usage_time_(minutes)", "posts_per_day", "likes_received_per_day", "comments_received_per_day", "messages_sent_per_day"]

for column in columns_to_int:
    df1[column] = pd.to_numeric(df1[column], errors='coerce')

for column in columns_to_int:
    df2[column] = pd.to_numeric(df2[column], errors='coerce')
display(df2.tail(50))
"""

'\ncolumns_to_int = ["id", "age", "daily_usage_time_(minutes)", "posts_per_day", "likes_received_per_day", "comments_received_per_day", "messages_sent_per_day"]\n\nfor column in columns_to_int:\n    df1[column] = pd.to_numeric(df1[column], errors=\'coerce\')\n\nfor column in columns_to_int:\n    df2[column] = pd.to_numeric(df2[column], errors=\'coerce\')\ndisplay(df2.tail(50))\n'

### 3.2.7 Convert columns to integers

In [1261]:
columns_to_int = ["id", "age", "daily_usage_time_(minutes)", "posts_per_day", "likes_received_per_day", "comments_received_per_day", "messages_sent_per_day"]

df1[columns_to_int] = df1[columns_to_int].astype('Int64')
df2[columns_to_int] = df1[columns_to_int].astype('Int64')
display(df2.tail(50))

ValueError: invalid literal for int() with base 10: 'Unknown'

### 3.2.8 Modify id / make ids unique

In [ ]:
#make both ids unique:
df1["id"] = df1["id"] +1000
df2["id"] = df2["id"] +2000

### 2.8 Value Counts

In [ ]:
print()
print(red_color + "Value counts for first dataset: " + reset_color)
value_count__neu_df1 = {column: df1[column].value_counts() for column in df1.columns}
for column, counts in value_count__neu_df1.items():
    print(f"Value counts in column '{column}':\n{counts}\n")
    
print()
print(red_color + "Value counts for second dataset: " + reset_color)
value_count__neu_df2 = {column: df2[column].value_counts() for column in df2.columns}
for column, counts in value_count__neu_df2.items():
    print(f"Value counts in column '{column}':\n{counts}\n")

# Combine Datasets

In [ ]:
display(df1.tail(50))
display(df2.tail(50))

In [ ]:
df = pd.concat([df1, df2], ignore_index=1)
display(df)